<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <servlet>
        <servlet-name>PouloumSOMServlet</servlet-name>
        <servlet-class>com.mycompany.pouloum.som.user.PouloumSOMServlet</servlet-class>
        <init-param>
            <param-name>JDBC-Pouloum-URL</param-name>
            <param-value>jdbc:derby://localhost:1527/Pouloum-DB</param-value>
        </init-param>
        <init-param>
            <param-name>JDBC-Pouloum-User</param-name>
            <param-value>pouloum</param-value>
        </init-param>
        <init-param>
            <param-name>JDBC-Pouloum-Password</param-name>
            <param-value>pouloum</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>PouloumSOMServlet</servlet-name>
        <url-pattern>/PouloumSOM</url-pattern>
        <url-pattern>/PouloumSOM/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>