.big_avatar_image{
    max-width: 200px;	
    max-height: 200px;
}

.btn_remove_interest{
    width:20px;
    height:25px;
}

#interests_header_container{
    height:10%!important;
}

#interest_pouloumer_container{
    height:70%!important;
}

#add_interest_button_container{
    height:20%!important;
}

#badges_header_container{
    height:10%!important;
} 

#badges_pouloumer_container{
    height: 90%!important;
}

#pouloumer_details_global_container{
    padding-top:20px;
    padding-right:40px;
    padding-left:40px;
}
