body {
    
}

.button{
    padding:20px;
}    
.textAlign{
    text-align:center;
}
.bigAvatarImage{
    max-width: 200px;	
    max-height: 200px;
}

#userDetailsGlobalContainer{
    padding-top:20px;
    padding-right:40px;
    padding-left:40px;
}

#wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
}

#container_navbar_and_alert {
    height: 20%;
}