body {
    min-height:100vh;
    width:100vw;
}

.button{
    padding:20px;
}    
.textAlign{
    text-align:center;
}

.col-2.nav-item{
    height:100%;
}

#wrapper {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#navbar_img {
    max-width: 5vh;
    max-height: 90%;
    min-width: 2vh;
}
   


.bottom{
    position:absolute; 
    width:100%;
    bottom:0;
}
