html {
  scroll-behavior: smooth;
}


.row_of_badges{
    width:100%;
    height:50%;
    margin:0px;
    padding:0px;
}

.profile_badges{
    max-width: 100%;
    margin-left:auto;
    margin-right: auto;
}

body {
    overflow: hidden;
    max-height:100vh;
    max-width:100vw;
}

.container{
    max-width: 100vw;
    max-height: 100vh;
    padding: 0px;
    margin: 0px;
}

.button{
    padding:20px;
}    

.buttonEvent{
    padding:8px;
    
}
.textAlign{
    text-align:center;
}

.col-2.nav-item{
    height:100%;
}

.little_avatar_image{
    max-width: 60px;	
    max-height: 60px;
    padding : 3px;
}

.row{
    
}

button{
    box-shadow: 0px 2px 6px cadetblue;
}

input{
    box-shadow: 0px 1px 3px cadetblue;
}

.little_title_page{
    margin-left: 1%;
    margin-top: 2%;
    font-weight: bold;
}

.title_page{
    text-align: center;
    background-color: #5a8ab2;
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    border: 1px solid #5a8ab2;
}


#wrapper {
    overflow: auto;
    width: 100vw;
    height: 100vh;
    position: relative;
    padding:0%;
    margin:0%;
}

#navbar_img {
    max-width: 5vh;
    max-height: 90%;
    min-width: 2vh;
}

#container_navbar_and_alert{
    margin:0px;
    padding:0px;
}

#container_navbar_row{
    box-shadow: 2px 3px 4px cadetblue;
}
  
.pre-scrollable {
    max-height: 100%;
}


.bottom{
    position:absolute; 
    width:100%;
    bottom:0;
}
